
@import url('reset.css');
@import url('FM_part.css');


:root {
    /* Primary Color */
    --green: hsl(75, 94%, 57%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    
    /* fonts */
    --ff-primary: "Inter", sans-serif;
    --fs-14: 0,875rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}


body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-400); /*base*/
    font-size: var(--fs-14);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-black);
}

/*----------------Mobile layout--------------------*/

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'container'
        'attribution';
    justify-items: center;
    margin-top: 3rem;
    /* border: 2px solid green; */
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main';
    justify-items: center;
    padding: 2.5rem 2rem 2rem;
    background-color: var(--dark-grey);
    border-radius: .6rem;
    /* border: 2px solid yellow; */
}

/* style 1st component - mobile */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
 }
 
/* style 2nd component - mobile */
 .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'avatar'
        'social__links-title';
    justify-items: center;
 }
 
 .avatar {
    display: grid;
    justify-items: center;
    /* border: 2px solid blue; */
 }
 
 .avatar__image {
    width: 40%;
    border-radius: 50%;    
 }

/* style 3rd component - mobile */
/*3rd component styled in external file*/

/*---------------------Desktop layout-------------------------*/


@media screen and (min-width: 48rem) {

}

/*---------grid areas naming-----------------*/

.container {
    grid-area: container;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.avatar {
    grid-area: avatar;
}

.social__links-title {
    grid-area: social__links-title;
}


.attribution {
    grid-area: attribution;
}

