
@import url('reset.css');
@import url('FM_part.css');


:root {
    /* Primary Color */
    --green: hsl(75, 94%, 57%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    
    /* fonts */
    --ff-primary: "Inter", sans-serif;
    --fs-14: 0,875rem;
    --fs-12: 0.75rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}


body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-400); /*base*/
    font-size: var(--fs-14);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-black);
}

/*----------------Mobile layout--------------------*/

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'container'
        'attribution';
    justify-items: center;
    margin-top: 3rem;
    /* border: 2px solid green; */
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main';
    justify-items: center;
    width: 90%;
    padding: 1.5rem 1rem 1rem;
    background-color: var(--dark-grey);
    border-radius: .6rem;
    /* border: 2px solid yellow; */
}

/* style 1st component - mobile */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
 }
 
/* style 2nd component - mobile */
 .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'avatar'
        'social__links-title';
    justify-items: center;
 }
 
 .avatar {
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;
    /* border: 2px solid blue; */
 }
 
 .avatar__image {
    width: 25%;
    border-radius: 50%;  
    margin-bottom: 1rem;
 }
 
 .avatar__name {
    font-weight: var(--fw-600);
 }
 
 .avatar__location {
    color: var(--green);
    font-weight: var(--fw-600);
    font-size: var(--fs-12);
 }
 
 .social__links-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--fs-12);
 }
 
 .social__links {
    text-align: center;
    width: 95%;
    margin: .5rem;
    background-color: var(--grey);
    border-radius: .5rem;
 }
 
 
 /* Cannot set width of component */
 /* Angular's default behaviour is to set display:inline for components. This means the component will take as much width as its 
 content. In order to set a width on the component itself, you should define it's display property as display: inline-block or 
 display: block */
 /* https://stackoverflow.com/questions/74065064/cannot-set-width-of-component#answer-74065118 */
 .social__link {
    display: block;
    font-weight: var(--fw-700);
    font-size: var(--fs-12);
    color: var(--white);
    text-decoration: none;
    padding: .6rem;
 }


/* style 3rd component - mobile */
/*3rd component styled in external file*/

/*---------------------Desktop layout-------------------------*/


@media screen and (min-width: 48rem) {

    .container {
        width: 20rem;
    }
    
    .social__links:hover {
        background-color: var(--green);
        cursor: pointer;
    }
    
    .social__links:hover > .social__link {
        color: var(--off-black);
    }

}

/*---------grid areas naming-----------------*/

.container {
    grid-area: container;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.avatar {
    grid-area: avatar;
}

.social__links-title {
    grid-area: social__links-title;
}

.attribution {
    grid-area: attribution;
}

